@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.bg-muted {
  background-color: rgba(128, 128, 128, 0.564);
}

.swal-modal {
border-radius: 50px;
background-color: #313130;

}

.swal-modal button {
background-color: #3a7b86;
border-radius: 25px;
color: white;
}

.swal-modal button:hover {
  background-color: white;
color: #3a7b86;
}

.swal-modal img {
  height: 15vh;
  animation: img-float 3s ease-in-out infinite;
}

@keyframes img-float{
  0%,100% {
    transform: translateY(-20px)rotate(5deg);
  }
  50% {
    transform: translateY(0px)rotate(-5deg);
  }
}
.swal-text {
  color:rgba(255, 255, 255, 0.911);
}

.swal-title {
  color:rgba(255, 255, 255, 0.911);
}

.grow:hover {
  transform: scale(1.025);
  transition: all .20s ease-in-out;
  opacity: .75;
  }

  .radius {
    border-radius: 50px;
  }